/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#table {
  visibility: hidden;
}

.total {
  padding-right: 15px;
}

.graph {
  height: 20px;
}

/*掲示物作成画面をタブメニューで表示*/
.wrap {
  width: 98%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
}
#tab-menu {
  display: flex;
}
#tab-menu li {
  list-style-type: none;
  width: 25%;
  position: relative;
  top: 1px;
}
#tab-menu li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  text-align: center;
  background: #E9B4D0;
  border: 1px solid #E9B4D0;
  border-bottom: none;
}
#tab-menu .active {
  background: #fff;
  color: #000;
  border-bottom: none;
}
#tab-contents {
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #E9B4D0;
}